.star {
  display: flex;
  gap: 8px;
}

.book_categories {
  align-items: center;
  background: #191919;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  height: 1500px;
  overflow-y: auto;
  margin-top: 290px;
  width: 1833px;
  margin-left: -306px;
  .bookscategory_yurak{
    background-color: transparent;
    border: none;
  }
  
}


.book_img {
  width: 214px;
  height: 268px;
  border-radius: 20px;
  object-fit: cover;
}

span {
  color: #C9AC8C;
  text-align: center;
  font-family: Rotterburg Stylish FREE;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: rgba(255, 255, 255, 0.60);
  font-family: Visuelt Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 144.4%;
}
.star_text{
  color: rgba(255, 255, 255, 0.60);
  font-family: Visuelt Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 144.4%;
}

