
.Security {
    width: 712.081px;
    height: 373px;
    flex-shrink: 0;
    margin: 86px auto;

}

.btn__security {
    width: 142px;
    height: 43px;
    flex-shrink: 0;
    background-color: #152540;
    color: white;
    margin-left: 570px;
}

.Sec__title {
    color: #212121;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.part2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email {
    color: #464E5F;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
}

.confr__pass {
    color: #464E5F;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pass {
    color: #464E5F;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Pass__con {
    width: 708px;
    height: 44px;
    transform: rotate(-0.106deg);
    flex-shrink: 0;
    text-align: start;
}

.new__pass {
    color: #464E5F;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.Password__sec {
    width: 708px;
    height: 45.308px;
    border-radius: 4px;
    background: #F3F6F9;
    border: 0px;
    color: #464E5F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #464E5F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
}

.New__password__inp {
    width: 340px;
    height: 44px;
    transform: rotate(-0.106deg);
    flex-shrink: 0;
    border-radius: 4px;
    background: #F3F6F9;
    border: 0px;
    color: #464E5F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #464E5F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
}

.confrim__password {
    width: 340px;
    height: 44px;
    transform: rotate(-0.106deg);
    flex-shrink: 0;
    border-radius: 4px;
    background: #F3F6F9;
    border: 0px;
    color: #464E5F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #464E5F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
}

.email.con {
    width: 709px;

}

.email__sec {
    width: 708px;
    height: 44px;
    border-radius: 4px;
    background: #F3F6F9;
    border: 0px;
    text-align: start;
    border: 0px;
    color: #464E5F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
}

.new__pass {
    margin-right: 31px;
    text-align: start;
    border: 0px;
}

.confr__pass {
    text-align: start;
    border: 0px;
}

.text__email {
    color: #B5B5C3;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    margin-top: 3px;
}

.text__confr__pass {
    color: #B5B5C3;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    margin-top: 3px;
}

.text__new__pass {
    color: #B5B5C3;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    margin-top: 3px;
}

.text__email {
    color: #B5B5C3;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    margin-top: 3px;
}

.text__pass {
    color: #B5B5C3;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    margin-top: 3px;
}

.line {
    margin-top: 40px;
    width: 708px;
    height: 1px;
    flex-shrink: 0;
}