.Hero {
  background-color: #191919;
}
.swiper-wrapper {
  background-color: #191919;
  width: 1261.896px;
  height: 346.973px !important;
}

.hero_inner {
  background-image: url("../../");
  width: 1691px;
  height: 502px;
  margin-left: -236px;
  padding-top: 54px;
}

.hero__item {
  h1 {
    color: #c9ac8c;
    font-family: Rotterburg Stylish FREE;
    font-size: 61px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #263a3d;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide {
  border-radius: 10px;

  position: relative;
  img {
    width: 100% ;
   height: auto;
        }
       
 
}

.bottom__hero{
  position: relative;
  p{
    margin-top: -450px;
    position: absolute;
    margin-left: 86px;
    font-size: 60px;
    width: 347px;
    text-align: start;
    color: #C9AC8C;
    top: 10px;
    z-index: 99;
    left: 8px;
  }
}
// .swiper-pagination-bullets{
// position: absolute;
// left: 0;
// background-color: red;
// }
.swiper-pagination-bullet{
  margin-left: 0px !important;
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{
  border-radius: 0px !important;
  width: 78px !important;
  z-index: 100 !important;
  overflow: -moz-hidden-unscrollable;
  margin-left: 0px !important;
}
.swiper-pagination-bullet swiper-pagination-bullet-active-next{
  margin-left:  0px !important;
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 200px !important;
  // transform: translateX(-50%);
  // white-space: nowrap;
  top: 300px;
  width: 1200px !important;
&::after{
  content: 'ddsd' !important;
  left: 200px !important;
  transform: translateX(-50%);
  white-space: nowrap;
  top: 300px;
  display: block;
  background-color: red;
  width: 200px !important;
}
}
