.Hero {
  background-color: #191919;
}
.swiper-wrapper {
  background-color: red;
  width: 1261.896px;
  height: 346.973px !important;
}

.hero_inner {
  background-image: url("../../");
}

.hero__item {
  h1 {
    color: #c9ac8c;
    font-family: Rotterburg Stylish FREE;
    font-size: 61px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper__img {
  width: 1300px !important;
}
.slide {
  img {
    position: relative;
    width: 100%;
    &::after{
        content: 'Temuriylar davri  adabiyoti';
        width: 337px;
        // position: absolute;
        color: #c9ac8c;
        font-size: 61px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        padding-left: 86px;
        z-index: 99;
        background-color: transparent;
        display: block;
        position: absolute;

    }
        }
 
}
