.herop__inner{
    width: 100%;
    height: 322px;
    background: radial-gradient(1678.66% 85.43% at 98.07% 50%, #2F2F2F 0%, #171717 100%);
    box-shadow: 0px 4px 73px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    
}
.herop__img{
    width: 169px;
    height: 169px;
    margin-top: 38.58px;
    margin-left: 96.3px;
}
.un__span{
    p{
        margin-left: 69.6px;
        color: white;
        font-size: 22px;
        font-weight: 400;
        margin-top: -6px;
    }
    h5{
        margin-left: 109.18px;
        color: #C9AC8C;
        font-size: 22px;
        font-weight: 400;
        margin-top: 11.12px;
    }
}
.text{
    margin-top: 50px;

}
.first__sp{
    color: #C9AC8C;
    font-size: 32px;
    font-weight: 400;    
    margin-left: 34px;
}
.sec__sp{
    width: 332px;
    color: white;
    font-size: 22px;
    font-weight: 400;
    span{
        color: #FFFFFF99;
        font-size: 22px;
        font-weight: 400;
    }
}
.third__sp{
    color: white;
    width: 332px;
    font-size: 22px;
    font-weight: 400;
    margin-top: 6px;
    span{
        color: #FFFFFF99;
        font-size: 22px;
        font-weight: 400;
    }
}

.fours__sp{
    color: white;
    font-size: 22px;
    font-weight: 400;
    margin-top: 6px;   
    span{
        color: #FFFFFF99;
        font-size: 22px;
        font-weight: 400;
    }
}
.second__img{
    width: 354px;
    height: 364px;
    margin-left: 690px;
    margin-top: -223px;

}
.statistic{
    width: 345px;
    height: 450px;
    margin-top: 31px;
    background-color: #2F2F2F;
    color: #FFFFFF4D;
    font-size: 24px;
    border-radius: 14px;
    .statistic_item1{
        h2{
            font-size:22px ;
        }
        display: flex;
        .bi_ph{
            margin-left: 92px;
            margin-top: 12px;
        }
    }
    h2{
        color: #C9AC8C;
        margin-left: 28px;
        margin-top: 15px;
    }
    li{
        width: 303px;
        height: 50px;
        line-height: 15px;
        margin-top: 31px;
        position: relative;
        h5{
            font-size: 16px;
            margin-left: 45px;
            margin-top: -50px;
            color: white;
        }
        p{
            font-size: 12px;
            margin-left: 270px;
            margin-top: -28px;
            color: rgba(255, 255, 255, 0.60);
        }
        button{
            width: 91px;
            height: 21px;
            margin-left: -68px;
            margin-top: -704px;
            font-size: 10px;
            position: absolute;
            top: 732px;
            left: 270px;
            border: none;
            background-color: #C9AC8C;
            color: #3C2710;
            border-radius: 3px;
        }
        div{
            width: 147px;
            height: 19px;
            background-color: #000;
            margin-left: 40px;
        }
        span{
            width: 62px;
            height: 19px;
            background-color: #A87F52;
            margin-left: 100px;
        }
        .seco__img{
            margin-left: 45px;
            margin-top: -5px;
        }
        }

        .btn2{
            width: 91px;
            height: 21px;
            margin-left: -67px;
            margin-top: -704px;
            font-size: 10px;
            position: absolute;
            top: 732px;
            left: 270px;
            border: none;
            background-color: #C9AC8C;
            color: #3C2710;
            border-radius: 3px;
        }
        .btn3{
            width: 91px;
            height: 21px;
            margin-left: -68px;
            margin-top: -704px;
            font-size: 10px;
            position: absolute;
            top: 732px;
            left: 270px;
            border: none;
            background-color: #C9AC8C;
            color: #3C2710;
            border-radius: 3px;
        }
        .btn4{
            width: 91px;
            height: 21px;
            margin-left: -68px;
            margin-top: -703px;
            font-size: 10px;
            position: absolute;
            top: 732px;
            left: 270px;
            border: none;
            background-color: #C9AC8C;
            color: #3C2710;
            border-radius: 3px;
        }
}
.last__btn{
    width: 289px;
    padding-top: 6px;
    padding-left: 50px;
    padding-right: 27px;
    padding-bottom: 12px;
    background-color: #C9AC8C;
    border-radius: 5px;
    color: #64513D;
    font-size: 22px;
    font-weight: 400;
    margin-left: 24px;
    border: none;
}



.audio__kitob{
    width: 345px;
    height: 547px;
    background-color: #202020;
    border-radius: 14px;
    margin-top: 17px;
}
.audio__tittle{
    color: #C9AC8C;
    padding-top: 15px;
    padding-left: 28px;
    font-size: 22px;
    font-weight: 400;
}
.left__img{
    width: 46.317px;    
    height: 69.475px;
    margin-left: 72px;
    margin-top: 23px;
    flex-shrink: 0;
}
.bet__img{
    width: 69.03px;
    height: 103.545px;
    margin-left: 17px;
    margin-top: 12px;
}
.right__img{
    width: 46.317px;
    height: 69.475px;
    margin-left: 220px;
    margin-top: -123px;
}
.inner__tittle{
    text-align: center;
    font-size: 12px;
    color: #C9AC8C;
    font-weight: 400;
    margin-top: -23px;
    margin-left: 2px;
}
.little__tittle{
    font-size: 8px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    margin-left: 7px;
}
.audio__play{
    width: 258px;
    height: 28px;
    margin-left: 37px;
}
.audio__track{
    width: 265px;
    margin-left: 33px;
}
.audio__spof{
    width: 201px;
    height: 24px;
    margin-left: 72px;
    margin-top: 11px;
}
.audio__inner-item{
    width: 262px;
    height: 54px;
    border: 2px solid #C9AC8C;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 10px;
    position: relative;
}
.audio__frame{
    position: absolute;
    top: 16px;
    left: -10px;
}
.audio__inner-img{
    width: 25px;
    height: 38px;
    margin-top: 7px;
    margin-left: 13px;
    margin-bottom: 8px;
}
.track__tittle{
    font-size: 12px;
    color: #C9AC8C;
    margin-top: -44px;
    margin-left: 50px;
}
.track__info{
    font-size: 8px;
    color: #FFFFFF99;
    margin-left: 50px;
    margin-top: -3px;
}
.track__time{
    font-size: 8px;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 400;
    margin-top: -35px;
    margin-left: 216px;
}
.audio__inner-item1{
    width: 262px;
    height: 54px;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 3px;   
    background-color: rgba(255, 255, 255, 0.05);
}