.container__accaunt__header{
    width: 891px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 289px;
    background-color:  ;
}

.my__accaunt {
    width: 297px;
    height: 80px;
    display: flex;
    flex-direction: row;
    border-radius: 4px 4px 0px 0px;
    background: #FFF;
}

.accaunt__text {
    color: #152540;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 9px;
    margin-left: 9px;

}

.one__accaunt__con {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background-color: #152540;
    padding-top: 2px;
    padding-bottom: 6px;
    padding-right: 14px;
    padding-left: 14px;

    .one {
        color: white;
    }
}