.Header{
    background: #191919;

}
.header_inner{
.nav{
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    ul{
        display: flex;
        justify-content: space-between;
        width: 900px;
        a{
            color: #fff;
        }
    }
}
}