.Header{
    background: #191919;
    margin-left: -81px;
    padding-top: 22px;
    border-bottom: 0.2px solid rgba(255, 255, 255, 0.1);
}
.Headers{
    display: none;
}
.header_inner{
.nav{
    padding-top: 15px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    width: 1700px;
height: 80px;
flex-shrink: 0;
margin-left: -200px;
    ul{
        display: flex;
        justify-content: space-between;
        width: 900px;
        a{
            color: #fff;
        }
        li:nth-child(8){
            a{
                background-color: #C9AC8C;
                padding: 10px 30px;
                text-align: center;
                border-radius: 10px;

            }
        }
        li:nth-child(9){
            img{
                width: 30px;
                border-radius: 50%;
                margin-right: -90px;
            }
        }
        .login{
            background-color: #C9AC8C;
            padding: 10px 35px;
            text-align: center;
            border-radius: 10px;
        }
        .logins{
            display: none;
        }
        .none{
            display: none;
        }
        .odam{
            display: block;
            img{
                width: 50px;
                border-radius: 50px;
                margin-left: 2px;
                margin-top: -12px;
                position: absolute;
            }
        }
        .odam_list_test{
            .odam_list_testitem1{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 75px;
                color: rgba(255, 255, 255, 1);
                .odam_list_testarrow{
                    margin-top: -4px;
                }
            }
            .odam_list_testitem2{
                color: rgb(255, 255, 255);
                margin-left: 0px;
                margin-top: 5px;
                border: 1px solid #c9ac8c87;
                width: 76px;
                border-radius: 6px;
                h6{
                    margin-left: -12px;
                }
            }
            .odam_list_test1item2{
                display: none;
            }
        }
        // .header_selection{
        //     background-color: transparent;
        //     color: rgba(255, 255, 255, 1);
        //     border: none;
        //     option{
        //         background-color: #191919;
        //     }
        // }
    }
}
}
.active{
    position: relative;
    ::after{
        content: '';
        width: 89.052px;
        background-color: white;
        height: 2px;
        display: block;
        position: absolute;
        bottom: 0;

    }
}

