.Search {
    width: 100%;
    background-color: #191919;
    position: absolute;
    top: 375px;
    z-index: 99;
}

.search__inner {

    margin-left: 95px;
    width: 1114.541px;
    height: 169.421px;
    flex-shrink: 0;
    border-radius: 15px;
    box-shadow: 0px 4px 77px 0px rgba(199, 100, 100, 0.25);
    text-align: center;
    padding-bottom: 10px;

    h3 {
        color: #C9AC8C;
        font-family: Rotterburg Stylish FREE;
        font-size: 31px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 39px;
        padding-bottom: 13px;
    }

    .search__inp-btn {
        padding-left: 144px;
        width: 883px;
        display: flex;
        justify-content: space-between;
        gap: 15px;
        padding-bottom: 35px;

        input {
            width: 709.575px;
            height: 47.018px;
            flex-shrink: 0;
            border-radius: 15px;
            background: #404040;
            border: none;
            padding-left: 27px;
        }

        button {
            width: 160.211px;
            height: 47.018px;
            flex-shrink: 0;
            border-radius: 15px;
            background: #C9AC8C;
            color: #3C2710;
            font-family: Steinbeck;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: none;


        }
    }
}

.categories__top {

    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    color: #C9AC8C;
    font-family: Rotterburg Stylish FREE;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.categories__center {

    .ul {
        display: flex;
        justify-content: space-between;
        width: 1000px;
        .actives{
        color: #C9AC8C;
             
         }
        button {
            color: rgba(255, 255, 255, 0.60);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: none;
            background-color: transparent;
            
        }
    }
}

.bottom {
    width: 100%;
    padding-top: 28px;
    background-color: #191919;
    padding-left: 76px;
}

// .li:hover{
//     color: rgba(250, 193, 193, 0.6);
    
// }