

.AuthorD {
    background-color: #191919;
    width: 100%;
}

.Author__body {
    display: flex;
    flex-direction: row;
}

.left__text__con1 {
    width: 451px;
    margin-bottom: 47px;
    margin-right: 774px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;

}

.container__left {
    width: 698px;
}

.left__text1 {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 144%;
    margin-bottom: -10px;
    width: 500px;
}

.left__text2 {
    color: #C9AC8C;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 144.4%;
}

.left__text3 {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 144.4%;
    margin-top: -10px;
}

.minus {
    color: #C9AC8C;
    font-family: Rotterburg Stylish FREE;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
    margin-left: 32px;
    margin-right: 32px;

}

.img1 {
    height: 858.327px;
    margin-bottom: 42px;
    margin-top: -1px;
    width: 745px;
    margin-left: -303px;
    object-fit: cover;
    border-radius: 0px 50px 50px 0px;
}

.left__row1 {
    display: flex;
    flex-direction: row;
    width: 520px;
    font-style: normal;
    font-family: Rotterburg Stylish FREE;
}

.left__text4 {
    color: #C9AC8C;
    font-family: Rotterburg Stylish FREE;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 144.4%;
}

.left__col1 {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}

.col1__text1 {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 144.4%;
    margin-bottom: -10px;
}

.col1__text2 {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 144.4%;
    margin-bottom: -10px;
}

.part1__text1 {
    color: #C9AC8C;
    text-align: center;
    font-family: Rotterburg Stylish FREE;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.part1__text2 {
    color: rgba(255, 255, 255, 0.80);
    margin-top: 20px;
    width: 800px;
}

.container__right {
    margin-top: 60px;
    margin-left: -106px;
}

.part1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.mark {
    color: #C9AC8C;
    background-color: transparent;
    text-align: center;
    font-family: Rotterburg Stylish FREE;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mark__text1 {
    color: #FFF;
    width: 817px;
    height: 58px;
    flex-shrink: 0;
    font-size: 15px;
    margin-left: 31px;
    letter-spacing: 1px;
    line-height: 1.6;
}

.part3__text1 {
    color: #C9AC8C;
    text-align: start;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 200px;
}

.books {
    width: 165px;
    height: 402px;
}

.books__con {
    width: 539px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 10px;

    .books__title {
        color: #C9AC8C;
        text-align: center;
        font-family: Rotterburg Stylish FREE;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 17px;
    }

    .books__img {
        margin-bottom: 17px;
        width: 164.152px;
        height: 246.228px;
        object-fit: cover;
    }
}

.author_part2 {
    margin-top: 31px;
}

.head__part3 {
    display: flex;
    flex-direction: row;
    margin-top: 43px;
}

.see__all {
    height: 0px;
    margin-top: 211px;
    margin-left: 330px;
    color: #FFF;
    text-align: center;
    font-family: Steinbeck;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}