.wrapper{
    width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -312px;
}
.left__wrapper{
    background-color: rgba(201, 172, 140, 0.9294117647);
    padding: 100px 38px;
    height: 913px;
    width: 995px;
}
.signup__img{
    width: 600px;
    height: 600px;
    margin-left: 150px;
    margin-top: 80px;
}
.right__wrapper{
    width: 576px;
    height: 700px;
}
.signup__tittle{
    margin-top: 75px;
    margin-left: 108px;
    font-size: 36px;
    font-weight: 900;
}
.signup__info{
    margin-left: 108px;
    margin-top: 10px;
    a{
        text-decoration: none;
        color: #549FF9;
    }
}
.first__inp{
    padding-left: 29px;
    padding-top: 21px;
    padding-bottom: 9.88px;
    padding-right: 187px;
    margin-top: 16px;
    margin-left: 108px;
    border-radius: 10px;
    border: 1px solid #B4B4BB;
    color: #AAA;
    font-size: 14px;
    font-weight: 400;
}
.sec__inp{
    padding-left: 29px;
    padding-top: 15px;
    padding-bottom: 10.87px;
    padding-right: 187px;
    margin-top: 16px;
    margin-left: 108px;
    border-radius: 10px;
    border: 1px solid #B4B4BB;
    color: #AAA;
    font-size: 14px;
    font-weight: 400;
}
.phone__inp{
    padding-left: 29px;
    padding-top: 17px;
    padding-bottom: 8.88px;
    padding-right: 187px;
    margin-top: 16px;
    margin-left: 108px;
    border-radius: 10px;
    border: 1px solid #B4B4BB;
    color: #AAA;
    font-size: 14px;
    font-weight: 400;
}
.email__inp{
    padding-left: 29px;
    padding-top: 17px;
    padding-bottom: 8.88px;
    padding-right: 187px;
    margin-top: 16px;
    margin-left: 108px;
    border-radius: 10px;
    border: 1px solid #B4B4BB;
    color: #AAA;
    font-size: 14px;
    font-weight: 400;
}
.passwor__inp{
    padding-left: 29px;
    padding-top: 17px;
    padding-bottom: 8.87px;
    padding-right: 187px;
    margin-top: 16px;
    margin-left: 108px;
    border-radius: 10px;
    border: 1px solid #B4B4BB;
    color: #AAA;
    font-size: 14px;
    font-weight: 400;
}
.signup__btn{
    padding: 16px 148px;
    margin-left: 108px;
    margin-top: 38px;
    font-size: 18px;
    color: white;
    background-color: #152540;
    border-radius: 99px;
}